@import "tailwindcss";

.character-sprite {
  @apply w-[185px] h-[170px] bg-no-repeat border-4 border-transparent rounded-2xl transition-transform duration-300;

  background-size: 1480px 170px;
  image-rendering: pixelated;

  animation: waving 1s steps(8) infinite;
  will-change: transform;
  transform: translateZ(0);
}

@keyframes waving {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1480px 0;
  }
}